<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="InputFolderPath" value="..\..\..\..\Test_Input" />
    <add key="ExcelConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;{0}&quot;;User ID=Admin;Password=;Extended Properties=&quot;Excel 8.0;HDR=YES&quot;;" />
    <add key="loggerfilepath" value="C:\\Selenium_Automation\" />
    <add key="loggerfileoverwrite" value="0" />
    <add key="Screenshotfolderpath" value="C:\Selenium_Automation\screenshot" />
    <add key="AutomationResultfile" value="C:\Selenium_Automation\Resultfolder\AutomationResult.xls" />
    <add key="RunFolderPath" value="..\..\..\..\Test_Output\Automation\RUN" />
    <add key="XsltPath" value="C:\Users\RK5024928\Rupali\SourceCode\MeridianAutomation\Entities\" />
    <add key="IEdriverpath" value="..\..\References" />
    <add key="DialogHandlerFilePath" value="..\..\References\DialogHandler.vbs" />
    <add key="FileUploadPath" value="..\..\Files\" />
    <add key="DeleteTempFile" value="Yes" />
    <add key="synctime" value="15000" />
    <add key="gblTimeOut" value="60" />
    <add key="actionTimeout" value="0" />
    <add key="alertTimeout" value="2000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>